body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    padding: 10px 0;
}

.top-header {
    background-color: #333;
    color: #fff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 50px;
}

.bottom-header {
    background-color: #f2f2f2;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
    color: #fff;
}
.login-button { 
    margin-left: auto;  
    background-color: #555;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.login-button:hover {
    background-color: #333;
}

.head {
    font-family: Arial, sans-serif;
}

.search-container {
    margin: 0px;
    float: right;
}

#search-input {
    padding: 10px;
    width: 900px;
    border-radius: 5px;
    border: 2px solid #ccc;
}

#search-btn {
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #007BFF;
    cursor: pointer;
}

#movie-container {
    margin: 50px;
}
.video-container{ 
  padding-left: 35%;
}

#sitemap {
    list-style: none;
    padding: 0;
    font-family: Arial, sans-serif;
}

#sitemap li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

#sitemap li a {
    text-decoration: none;
    color: #333;
    transition: color 0.2s;
}

#sitemap li a:hover {
    color: #ff0000;
}

#sitemap ul {
    margin-left: 20px;
    display: none;
}

#sitemap li.show ul {
    display: block;
}